.contact{
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
@media screen and (max-width: 800px){}

}
.container6{
    display: flex;
   
    flex-direction: column;
    min-width: 40vh;
    margin: 3px auto;
    width: 35%;
    position: relative;
    
  
   
    
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1rem 2rem rgba(#0000,0.12);

}
   
form {
    padding: 2rem;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    
   
  }

  
  label {
    font-size: .9rem;
    display: block;
    margin-top: 10px;
    color: rgb(85, 85, 85);
    margin-bottom: .4rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    font-size: .9rem;
    width: 100%;
    padding: .8rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 6px;
    margin-bottom: .6rem;
  }
  
  input[type="submit"] {
    margin-top: 1rem;
    align-self: center;
   
    background-color: black;
    color: white;
    font-size: .9rem;
    border: none;
    padding: 1.1rem 3rem;
    cursor: pointer;
   
  }